
.followers-container{
    width: 95%;
    margin-top: 40px;
    margin-left: 15px;
    width: 580px;

    
}



.followers-inside{

    .tab-inside{
        grid-template-columns: 1fr 1fr;


    }

    
}

