

$font-color: rgb(255, 255, 255);





.left-bar-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
    position: relative;
    


}

.left-bar-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
    
    
    
}

.left-bar-head{
    margin-top: -20px;
    
}

.left-bar-body{
    margin-top: 5vh;
    width: 60%;
    overflow-y: auto;
    background-color: blue;
    
   
}

.left-bar-item{
    display: flex;
    flex-direction: column;
    width: 70%;

    
    button{

        margin-bottom: 15px;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
        border: none;
        color: $font-color;
        cursor: pointer;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: large;
        p{
            margin-left: 10px;
        }
        
        @media ( max-width: 1366px){
            margin-bottom: 5px;
            font-size: medium;
            padding-top: 2px;
            padding-bottom: 2px;
        }

    }

    button:hover{
        background-color: #110;
        transition: 0.4s;
    }

    @media (max-width: 1290px){

        align-items: center;


        button{
            padding: 8px;
            margin-bottom: 10px;
            
            i{
                font-size: 17px;
            }
        }
        
    }


}

.left-bar-footer{
    width: 80%;
    bottom: 1%;
    margin-left: 20%;
    position: absolute;
    background-color: black;
    
    button{
        background-color: $font-color;
        color: black;
        border-radius: 15px;
        padding: 2px;
        justify-content: center;

        i{
            display: none;
        }
    }

    button:hover{
        background-color: #ede;
    }

    @media ( max-width: 1675px){
        button{
            i{
                display: none;
            }
        }
    }


    @media (max-width: 1290px){

        align-items: center;


        button{
            padding: 5px;
        
            i{
                display: block;
                font-size: 30px;
            }
        }
        
    }
    @media (max-height: 380px){
    
        position: relative;
    
}
    
}



@media( max-width: 1290px){
    .left-bar-container{
    justify-content: center;

    }    
}

