
$backgroundColor: rgb(0, 0, 0) ;
$font-color: rgb(179, 159, 159);
$border-color: rgb(17,34,51);


.post-container{
    display: flex;
    justify-content: center;
    
}


.post-inside{
    width: 95%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: solid 0.3px; 
    border-color: $border-color;
}

.post-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px ;

    .title-date{
        display: flex;
        align-items: center;
        
        .post-title{
            padding-right: 15px;
        }
    }

}

.post-body{
    margin-top: -20px;
    padding: 0px 10px;
}

.post-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px ;

    button:hover{
        background-color: black;
    }

    .icon-post{
        color: white;
        font-size: 15px;
        
    }
}